#pragma once

#include "TestWithCUL.hpp"

class TEMPLATE:
    public TestWithCUL
{
protected:

    TEMPLATE();

    virtual ~TEMPLATE();

    static void SetUpTestCase();
    static void TearDownTestCase();
    void SetUp() override;
    void TearDown() override;
    void TestBody() override;
private:

};