#include "TEMPLATE.hpp"
#include "CUL/CULInterface.hpp"

using string = std::string;

TEMPLATE::TEMPLATE()
{
}

void TEMPLATE::SetUp()
{
}

void TEMPLATE::TestBody()
{
}

void TEMPLATE::SetUpTestCase()
{
    TestWithCUL::SetUpTestCase();
}

void TEMPLATE::TearDownTestCase()
{
    TestWithCUL::TearDownTestCase();
}

TEST_F( TEMPLATE, Test00 )
{
}

TEMPLATE::~TEMPLATE()
{
}

void TEMPLATE::TearDown()
{
}